/* Min Width 1400px */
@media only screen and (min-width:1400px){

    .container-right {
        padding-left: calc((100% - 1320px) / 2 + 15px) !important;
        padding-right: 0;
    }

    .faq-content-wpr .service-list{
        max-width: 50%;
    }

    .faq input[type="radio"]:checked ~ .faq-content-wpr{
        height: 230px;
    }

    .project-contact h6{
        max-width: 35%;
    }

}

/* Min Width 1200px */
@media only screen and (min-width:1200px){

    .container-right {
        padding-left: calc((100% - 1140px) / 2 + 15px);
        padding-right: 0;
    }

}


/* Min Width 992px */

@media only screen and (min-width:992px){

    .mof-nav-wpr{
        display: block !important;
    }

}

/* Max Width 1199px */

@media only screen and (max-width:1199px){

    .container-right{
        padding-left: calc((100% - 960px) / 2 + 15px);
        padding-right: 0;
    }

}

/* Max Width 991px */

@media only screen and (max-width:991px){

    .container-right{
        padding-left: calc((100% - 720px) / 2 + 15px);
        padding-right: 0;
    }

    /* Mobile Nav */

    .mof-header-container{
        padding: 16px 24px;
    }

    .nav-toggle{
        display: inline-block;
        width: 40px;
        font-size: 35px;
        text-align: center;
        margin-right: 32px;
        cursor: pointer;
    }

    .mof-nav-wpr{
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        width: 100%;
        background-color: var(--secondary-color);
        padding: 0 32px;
        z-index: 10;
    }

    .mof-main-nav{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
    }

    .mof-main-nav .nav-item{
        width: 100%;
    }

    .mof-main-nav .nav-item a{
        border-bottom: 1px solid rgb(255 255 255 / 12%);
        padding: 8px 0;
    }

    .mof-main-nav .nav-item:last-child a{
        border-bottom: 0;
    }

    .mof-main-nav .nav-item a.active{
        border-bottom-width: 2px;
    }

}

/* Max Width 767px */
@media only screen and (max-width:767px){

    .container-right{
        padding-left: calc((100% - 540px) / 2 + 15px);
        padding-right: 0;
    }
    
}

/* Max Width 575px */
@media only screen and (max-width:575px){

    .container-right{
        padding-left: var(--bs-gutter-x,.75rem);
        padding-right: 0;
    }
    
}

/* Max Width 480px */
@media only screen and (max-width:480px){
    .mof-header-container{
        padding: 16px;
    }

}

/* Max Width 416px */

@media only screen and (max-width:416px){

     .nav-toggle{
        width: 30px;
        margin-right: 16px;
    }

    .mof-header-container .btn{
        padding: 0 10px;
    }

}

/* Max Width 380px */

@media only screen and (max-width:380px){

    
}

/* Max Width 320px */

@media only screen and (max-width:320px){

    
}